<h1 class="text-center my-4">
  Публикаций организации
</h1>

<div class="container overflow-hidden">
  <div class="row gx-5">
    <div class="col">
     <div class="p-3 border bg-light text-center"> <%= link_to 'Глава книги', book_chapters_path %></div>
    </div>
    <div class="col">
      <div class="p-3 border bg-light text-center"> <%= link_to 'Статья', articles_path %></div>
    </div>
    <div class="col">
      <div class="p-3 border bg-light text-center"> <%= link_to 'Доклад', reports_path %></div>
    </div>
  </div>
</div>
